* {
  margin: 0;
  padding: 0;
  border: none;
}
nav {
  width: 100%;
  overflow: auto;
}


ul {
  padding: 0;
  margin: 0 0 0 150px;
  list-style: none;
}
li {
  float:left;
}
.logo img {
  position: relative;
  top: 0;
  left: 0;
  
}

#logotype {
  width: 15%;
  height: 15%;
  
} 
#main_page_image {
  width: 100%;
  height: 900px;
  background: url('../images/main_page_photo.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  padding: 0;
  margin-left: 0;
}

#menu li {
  float:right;
  list-style-type: none;
  margin-right: 30px;
}